Repository pyca/cryptography, pull requests merged in 2018-08, with the labels that each got.

#4400 Added missing methods from CRL Interface
  src/cryptography/x509/base.py
Labels: x509

#4405 Added OCSP to the changelog
  CHANGELOG.rst
Labels: documentation

#4112 openssl 1.1.1 testing
  .travis.yml
  docs/installation.rst
Labels: testing

#4432 Added vector for pre-certificate poison extension
  docs/development/test-vectors.rst
  vectors/cryptography_vectors/x509/cryptography.io.precert.pem
Labels: vectors, x509

#4443 OCSP response vector
  docs/development/test-vectors.rst
  vectors/cryptography_vectors/x509/ocsp/resp-sha256.der
Labels: vectors
