Repository pyca/cryptography, pull requests merged in 2019-02, with the labels that each got.

#4718 add ed448 PKCS8 and subjectPublicKeyInfo vectors
  docs/development/test-vectors.rst
  vectors/cryptography_vectors/asymmetric/Ed448/ed448-pkcs8-enc.der
  vectors/cryptography_vectors/asymmetric/Ed448/ed448-pkcs8-enc.pem
  vectors/cryptography_vectors/asymmetric/Ed448/ed448-pkcs8.der
  vectors/cryptography_vectors/asymmetric/Ed448/ed448-pkcs8.pem
  vectors/cryptography_vectors/asymmetric/Ed448/ed448-pub.der
  vectors/cryptography_vectors/asymmetric/Ed448/ed448-pub.pem
Labels: vectors

#4719 add ed25519 PKCS8 and subjectPublicKeyInfo vectors
  docs/development/test-vectors.rst
  vectors/cryptography_vectors/asymmetric/Ed25519/ed25519-pkcs8-enc.der
  vectors/cryptography_vectors/asymmetric/Ed25519/ed25519-pkcs8-enc.pem
  vectors/cryptography_vectors/asymmetric/Ed25519/ed25519-pkcs8.der
  vectors/cryptography_vectors/asymmetric/Ed25519/ed25519-pkcs8.pem
  vectors/cryptography_vectors/asymmetric/Ed25519/ed25519-pub.der
  vectors/cryptography_vectors/asymmetric/Ed25519/ed25519-pub.pem
Labels: vectors

#4771 Removed unused constant from bindings
  src/_cffi_src/openssl/cmac.py
Labels: bindings

#4775 strip out unused EVP functions
  src/_cffi_src/openssl/evp.py
Labels: bindings

#4114 ed25519 support
  CHANGELOG.rst
  docs/hazmat/primitives/asymmetric/ed25519.rst
  docs/hazmat/primitives/asymmetric/index.rst
  docs/spelling_wordlist.txt
  src/_cffi_src/openssl/cryptography.py
  src/cryptography/hazmat/backends/openssl/backend.py
  src/cryptography/hazmat/backends/openssl/ed25519.py
  src/cryptography/hazmat/primitives/asymmetric/ed25519.py
  tests/hazmat/primitives/test_ed25519.py
  tests/hazmat/primitives/test_serialization.py
  tests/wycheproof/test_eddsa.py
Labels: primitives

#4610 ed448 support
  CHANGELOG.rst
  docs/hazmat/primitives/asymmetric/ed448.rst
  docs/hazmat/primitives/asymmetric/index.rst
  src/cryptography/hazmat/backends/openssl/backend.py
  src/cryptography/hazmat/backends/openssl/ed448.py
  src/cryptography/hazmat/primitives/asymmetric/ed448.py
  tests/hazmat/primitives/test_ed448.py
  tests/hazmat/primitives/test_serialization.py
Labels: primitives
